body{
  background-color: #581451 !important; 
}
.nav-init {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    background-color: #43af40;
    padding: 20px 5px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    border-bottom: 8px solid rgb(50, 134, 48); 
  }
  .btn-portfolio,.btn-resume, .btn-contact{
    background-color: #e4226b;
    border-width: 0ch;
    margin: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.8rem;
    border-bottom: 6px solid rgb(180, 31, 89); 
    color:white;
    text-align: left;
    font-family: 'SF Pixelate'
  }
  .col-xl-12,.col-lg-12{
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  .my-name{
    margin-top:8rem;
    width: 100%; 
  }
  .portfolio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #43af40;
    padding: 20px 5px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    border-bottom: 8px solid rgb(50, 134, 48); 
    border-top: 8px solid rgb(50, 134, 48); 
    margin-top: 28.5rem;
  }
  @font-face {
    font-family: '04b 30';
    font-style: normal;
    font-weight: normal;
    src: local('04b 30'), url('04B_30__.woff') format('woff');
}

@font-face {
    font-family: 'SF Pixelate';
    font-style: normal;
    font-weight: normal;
    src: local('SF Pixelate'), url('SF Pixelate.woff') format('woff');
}